<?xml version="1.0"?>
<launch>
  <arg name="scan_topic" default="scan" />
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="map_topic" default="map"/>
  
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>

    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>

    <!-- Process 1 out of every this many scans (set it to a higher number to skip more scans)  -->
    <param name="throttle_scans" value="1"/>

    <!-- How long (in seconds) between updates to the map -->
    <param name="map_update_interval" value="2.0"/>

    <!-- The maximum usable range of the laser. A beam is cropped to this value.  -->
    <param name="maxUrange" value="5.0"/>

    <!-- The maximum range of the sensor. If regions with no obstacles within the range of the sensor should appear as free space in the map, set maxUrange < maximum range of the real sensor <= maxRange -->
    <param name="maxRange" value="8.0"/>

    <param name="sigma" value="0.05"/>    <!-- The sigma used by the greedy endpoint matching -->
    <param name="kernelSize" value="1"/>  <!-- The kernel in which to look for a correspondence -->
    <param name="lstep" value="0.05"/>    <!-- The optimization step in translation -->
    <param name="astep" value="0.05"/>    <!-- The optimization step in rotation -->
    <param name="iterations" value="5"/>  <!-- The number of iterations of the scanmatcher -->
    <param name="lsigma" value="0.075"/>  <!-- The sigma of a beam used for likelihood computation -->
    <param name="ogain" value="3.0"/>     <!-- Gain to be used while evaluating the likelihood, for smoothing the resampling effects -->
    <param name="lskip" value="0"/>       <!-- Number of beams to skip in each scan. Take only every (n+1)th laser ray for computing a match (0 = take all rays) -->
    <param name="minimumScore" value="50"/>

    <!-- Odometry error in translation as a function of translation -->
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>

    <!-- Process a scan each time the robot translates this far  -->
    <param name="linearUpdate" value="0.5"/> 

    <!-- Process a scan each time the robot rotates this far  -->
    <param name="angularUpdate" value="0.5"/>

    <!-- Process a scan if the last scan processed is older than the update time in seconds. A value less than zero will turn time based updates off. -->
    <param name="temporalUpdate" value="0.5"/> 

    <!-- The Neff based resampling threshold -->
    <param name="resampleThreshold" value="0.5"/>

    <!-- Number of particles in the filter. default 30 -->
    <param name="particles" value="100"/>

    <!-- Initial map size  (in metres) -->
    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>

    <!-- Processing parameters (resolution of the map)  -->
    <param name="delta" value="0.05"/>

    <param name="llsamplerange" value="0.01"/>  <!-- Translational sampling range for the likelihood -->
    <param name="llsamplestep" value="0.01"/>   <!-- Translational sampling step for the likelihood -->
    <param name="lasamplerange" value="0.005"/> <!-- Angular sampling range for the likelihood -->
    <param name="lasamplestep" value="0.005"/>  <!-- Angular sampling step for the likelihood -->

  </node>

</launch>
